<launch>

<group ns="fixed">
  <arg name="sim" default="false" />
  <arg name="debug" default="false" />

  <!-- Remap follow_joint_trajectory -->
  <remap if="$(arg sim)" from="/fixed/scaled_pos_joint_traj_controller/follow_joint_trajectory" to="/fixed/scaled_pos_traj_controller/follow_joint_trajectory"/>

  <!-- Launch moveit -->
  <include file="$(find fixed_arm_moveit_config)/launch/move_group.launch">
    <arg name="debug" default="$(arg debug)" />
  </include>
</group>

</launch>