<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="fixed_arm_control">		
<xacro:macro name="fixed_arm_ros_control" >
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/fixed</robotNamespace>
    </plugin>
  </gazebo>

</xacro:macro>
</robot>
